@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    font-family: 'Comfortaa', cursive;
}
a{
    color: black;
}
p{
    font-family: 'Comfortaa', cursive !important;
}
h1{
    font-family: 'Righteous', cursive !important;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: 101;
    left: 0;

}
#menu{
    display: flex;
}
#menu li{
    margin: 0px 5px;
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
}
.line-hvr{
    width: 90%;
    height: 2px;
    border-radius: 1px;
    transition: 0.5s all ease;
    display: inline-block;
    background: red;
    position: absolute;
    bottom: 0;
    left: 6px;
    transform: scale(0);
}
#menu li:hover a{
    color: red;
}
#menu li:hover .line-hvr{
    transform: scale(1);
}
.nav-btn{
    position: relative;
    padding: 5px 50px !important;
    transition: 0.5s all ease;
    border: 2px solid black;
    overflow: hidden;
}
.nav-btn:hover{
    background: red;
    border-color: white;
    color: white;
}
.nav-btn .btn-hover{
    position: absolute;
    height: 100%;
    transition: 0.5s all ease;
    transform-origin:bottom ;
    z-index: -1;
    width: 100%;
    background: red;
    border-radius: 20px;
    transform: scale(0.6,0);
    top: 0;
    left: 0;
}
.nav-btn:hover .btn-hover{
    transform: scale(1,1);
}

@media only screen and (max-width:700px) { 
    #menu-icon{
        display: flex;
    }
    li{
         display: none; 
    }
    
}
img{
    transform: scale(1.3) !important;
}