.pointer {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    border: 2px solid black;
    border-radius: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    transition: 0.3s border ease;
    z-index: 105;
}
:root{
    --dark:white;
    --light:black;
}
body{
    color: var(--light);
    background: var(--dark);
}

.pointer:focus {
    border-color: rgba(255, 255, 255, 0);
}

.nexts {
    filter: blur(20px);
}

.line {
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: black !important;
    border-radius: 20px;
}

.but {
    background: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 0px;
    width: 200px;
    text-align: left;
    outline: none;
    border: none;
}
#slider-body{
    position:relative;
    height:100vh;
    overflow: hidden;
}
.btnhvr {
    display: inline-block;
    background: black;
    height: 4px;
    width: 0px;
    border-radius: 10px;
    position: absolute;
    left: 0px;
    bottom: 0;
    transition: 0.5s all ease;
    z-index: -1;
}

.but:hover~.btnhvr {
    width: 155px;
}

.det {
    height: 100vh;
    position: absolute;
    z-index: 100;
    right: 50px;
    opacity: 0;
    background: rgba(255, 255, 255, 0.774);
    /* background: linear-gradient(45deg,rgba(235, 235, 235, 0.308),white); */
    transition:0.6s all ease;
}
.img{
    transition: 1s all ease;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slide {
    position: absolute;
    background: none;
}

.border {
    border: 2px solid red;
}

.slide img {
    width: 90%;
}

.nexts h1,
.nexts p,
.nexts span,
.nexts button {
    opacity: 0;
}

.bar,
.value {
    display: inline-block;
    transition: 0.5s all ease;
    height: 5px;
    width: 150px;
    border-radius: 10px;
    background: rgb(158, 158, 158);
    position: relative;
}

.value {
    position: absolute;
    background:var(--light);
    width: 75%;
}

#show {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 100;
    background: none;
    padding-left: 150px;
    transition: 0.3s all ease;
}

.min {
    opacity: 0;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

.border {
    border: 2px solid red;
}

.block {
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}